<!DOCTYPE html>
<html>
    <head>
        <title>REALCOUNTDOWN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <nav class="navbar navbar-light  navbar-expand-lg navbar-light bg-light" style="background-color: rgb(52, 10, 92)">
<div class="container">

    <div class="navbar-header">
        <a class="navbar-brand" href="/homes">
            <img src="https://i.imgur.com/cU0WZw5.jpg" width="170" height="60" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/homes">COUNTDOWN ROOM</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/register">SAVE MONEY</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about-us">ABOUT US</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/resources">RESOURCES</a>
            </li>
            <% if(currentUser && (currentUser)){ %>
            <li class="nav-item active">
                <a class="nav-link" href="/users/<%= currentUser.id %>/profile">Profile</a>
            </li>
            <% } %>
            <li class="nav-item active">
                <a class="nav-link" href="/login" >Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout" >LogOut</a>
            </li>
        </ul>

    </div>
    




</div>


            <!-- <ul class="nav justify-content-end">
                <div class="btn-toolbar">
                   <%if(!currentUser){%>
                        <div class="btn btn-secondary m-1 nav-link"><a href="/register" style="color: white; text-decoration: none;">Signup</a></div>
                        <button type="button" class="btn btn-secondary dropdown-toggle m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        login
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/login">Sellers login</a>
                            <a class="dropdown-item" href="/login">Agents login</a>
                        </div>
                   <% }else{ %>
                    <div class="btn btn-secondary m-1" >
                        <li style="color: white; text-decoration: none;">Signed in As <%= currentUser.username %></li>
                    </div>
                        
                        <div class="btn btn-secondary m-1"><a href="/logout" style="color: white; text-decoration: none;">logout</a></div>
                    <% } %>
                    </li>
                </div>
            </ul> -->


          </nav>


          <div class="container">
              <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>   

            <%  } %>
            <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div> 
            <%  } %>
          </div>
          
        
          