<%- include("../partials/header") %>

<div class="container">
   <h1>Agents</h1>

    <% Agents.forEach(function(agent){ %>

        <div id="icard">
           
            <li class="card">
                <div class="d-flex justify-content-start">
                    <img class="pic" src="<%= agent.image %>" alt="" height="100%" width="100%">
                </div>
                <p id="par-card"><%=agent.username %></p>

                <a href="" id="view-bid" class="btn btn-primary">Details</a>
            </li>

        </div>

      
        
        
        
        <% }) %>
</div>






<%- include("../partials/footer") %>