
<%- include("partials/header") %>

<div id="landing-header">
    <div id="landing" class="header">
        <h1>RealCountdown</h1>
        <div class="container">
            <p>Start Saving, and Start selling</p>
        </div>
        <a href="/login" class="btn btn-lg btn-success">Start your bid</a>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="column">
            <a href="/agents">Sellers Click here</a>
        </div>
        <div class="column">
            <a href="">Agents Click here</a>
        </div>
        <div class="column">
            <a href="">Buyers Click here</a>
        </div>
    </div>

</div>


<%- include("partials/footer") %>