
<%- include("partials/header") %>

<div id="landing-header">
    <div id="landing" class="header">
        <h1>RealCountdown</h1>
        <div class="container">
            <p>Start Saving, and Start selling</p>
        </div>
        <a href="/login" class="btn btn-lg btn-success">Start your bid</a>
    </div>



    <div class="container" id="landing-menu">
        <div class="row">
            <div class="column">
                <a href="/agents"><img id="house" src="https://i.imgur.com/wMQuEOs.png" alt=""></a>
                <p>Sellers Click here</p>
            </div>
            <div class="column">
                <a href="/homes"><img id="house" src="https://i.imgur.com/peX6EMb.png" alt=""></a>
                <p>Agents click here</p>
            </div>
            <div class="column">
                <a href="/buyers"><img id="house" src="https://i.imgur.com/H8SfajT.png" alt=""></a>
                <p>Buyers Click here</p>
            </div>
        </div>
    
    </div>
    
</div>




<%- include("partials/footer") %>