
<%- include("partials/header") %>

<div id="landing-header">
    <h1>Welcome to RealCountdown</h1>
   <a href="/login" class="btn btn-lg btn-success">Start your bid</a>
</div>

<%- include("partials/footer") %>