<%- include("partials/header") %>

<div class="container">

    <div id="about-us-jumbotron" class="jumbotron">
        <h1>Resources</h1>
        <p>let us help you</p>

    </div>

   
</div>

<%- include("partials/footer") %>