#delete-form {
    display: inline;
}

.container .jumbotron{
    background-color: white;
}

.btn{
    display: inline;
    margin: 5px 5px 5px 5px;
}

#landing-header{
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/1v2KNNb.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    text-align: center;
    padding-top: 100px;
    
    height: 900px;
}

#Login-jumbotron{
    text-align: center;
}

#bid-table{
    margin: 15px 15px 15px 15px;
   
}

#landing-words{
   padding: 5px;
}

nav{
    width: 100%;
}

#about-us-jumbotron{
    text-align: center;
}



