body{
    background-color:#d9dbda;
}
#showimage{
    background-image: url("https://i.imgur.com/G73wYqR.png?1");
    background-size: 100% 100%;
    height: 900px;
}
#house{
    width: 40%;
}

#landing-menu{
    position: absolute;
    top: 700px;
    left: 20%;
}

.jumbotron{
    padding: 1rem 2rem;
}

#mycountdown{
    justify-content: center;
}

#delete-form {
    display: inline;
}

.container .jumbotron{
    background-color: white;
}

.btn{
    display: inline;
    margin: 5px 5px 5px 5px;
}

#landing-header{
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/1v2KNNb.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    
    height: 900px;
}

#Login-jumbotron{
    text-align: center;
}

#bid-table{
    width: 40%;
    position: absolute;
    left: 50%;
    margin: 15px 15px 15px 15px;
    
   
}

tbody{
    background-color: white;
}

#landing-words{
   padding: 5px;
}

nav{
    width: 100%;
}

#about-us-jumbotron{
    text-align: center;
}

.pic{
    display: block;
    /* max-width:230px;
    max-height:95px; */
    width: 100px;
    height: auto;
}

.showpic{
    display: block;
    width: 100px;
    height: auto;
    left: 50%;
}



#icard{
    margin-left: 5px;
    margin-bottom: 15px;
    padding: 5px 5px 5px 5px;
   background-color: white;
   width: 100%;
   float: right;

}

.card{
    border-color: white;
    overflow: auto;
}
#view-bid{
    box-sizing: content-box;
    width: 30%;
    position: absolute;
    bottom: 8px;
    left: 60%;
    
}

#par-card{
    position: absolute;
    left: 20%;
}

#sell-amount{
    position: absolute;
    left: 50%;

}


span{
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 20px;
    
}


#carouselExampleSlidesOnly{

    width: 50%;
}

#bid-rate{
    position: absolute;
    left: 18%;
}

#status{
    position: absolute;
    left: 40%;
}

#searchbar{
    position: relative;
  left: 40%;
  
  margin-bottom: 3px;
}

#agent-pic{
    width: 50%;
}

#profile-container{
    background-color: white;
}
#profile-username{
    text-align: center;
}

.img-thumbnail{
   margin-left: 40%;
    margin-top: 20px;
    width: 20%;
    border-radius: 50%;
}

#agent-image{
    width: 300px;
    margin-left: 10%;
}

.column{
    float: left;
    width: 33%;
}
#Rating{
    margin-left: inherit;
    display: inline-block;
}

#index-card{
    float: right;
    width: 60%;
    height: 40px;
}

#agent-table{
    float: left;
    width: 50%;
}

#phone-number{
    position: absolute;
    left: 110px;
    top: 20px;
}
