<%- include("../partials/header") %>

<div class="container" id="profile-container">
    <img class="img-thumbnail" src="<%= user.image %>" alt="">
    <h1 id="profile-username"><%=user.username %></h1>

</div>




<%- include("../partials/footer") %>